@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

h1, h2, h3, h4 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}
@media screen and (max-width: 1024px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.h4-bold {
  font-weight: 700;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1239px) {
  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.btn {
  display: block;
  border: none;
  width: max-content;
  height: auto;
  padding: 20px 30px;
  border-radius: 5px;
  font-size: 13.3px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-green {
  background: #34C176;
}
.btn-transparent {
  border: 1px solid #fff;
}
.btn-brown {
  background: #95390C;
}

.bg-banner {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.text-primary {
  color: #cacaca;
}

.text-bg-primary {
  color: #08020d;
}

.text-white {
  color: #fff;
}

.text-dark-grey {
  color: #3C3B3D;
}

.text-light-grey {
  color: #757575;
}

.text-green {
  color: #34C176;
}

.text-alto {
  color: #E0E0E0;
}

.text-orange {
  color: #F89202;
}

.text-purple {
  color: #5328A1;
}

.text-brown {
  color: #95390C;
}

.text-center {
  text-align: center;
}

.text-5xl {
  font-size: 64px;
}

.text-4xl {
  font-size: 56px;
}

.text-3xl {
  font-size: 48px;
}

.text-2xl {
  font-size: 40px;
}

.text-xl {
  font-size: 32px;
}

.text-lg {
  font-size: 24px;
}

.text-base {
  font-size: 16px;
}

.text-sm {
  font-size: 12.8px;
}

.text-xs {
  font-size: 12px;
}

.text-xxs {
  font-size: 11px;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.w-full {
  width: 100%;
}

.mt-0 {
  margin-top: 0;
}

.mt-48px {
  margin-top: 48px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1rem {
  margin-right: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-16px {
  margin-bottom: 16px;
}

.mb-40px {
  margin-bottom: 40px;
}

.mb-48px {
  margin-bottom: 48px;
}

.mb-64px {
  margin-bottom: 64px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-200px {
  margin-bottom: 200px;
}

.ml-0 {
  margin-left: 0;
}

.pt-0 {
  padding-top: 0;
}

.pt-30px {
  padding-top: 30px;
}

.pt-48px {
  padding-top: 48px;
}

.pt-50px {
  padding-top: 50px;
}

.pt-100px {
  padding-top: 100px;
}

.pt-200px {
  padding-top: 200px;
}

.pr-0 {
  padding-right: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-24px {
  padding-bottom: 24px;
}

.pb-40px {
  padding-bottom: 40px;
}

.pb-50px {
  padding-bottom: 50px;
}

.pb-64px {
  padding-bottom: 64px;
}

.pb-200px {
  padding-bottom: 200px;
}

.pl-0 {
  padding-left: 0;
}

.pl-20px {
  padding-left: 20px;
}

.py-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-16px {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-200px {
  padding-top: 200px;
  padding-bottom: 200px;
}

.px-10px {
  padding-left: 10px;
  padding-right: 10px;
}

.px-24px {
  padding-left: 24px;
  padding-right: 24px;
}

.px-40px {
  padding-left: 40px;
  padding-right: 40px;
}

.header {
  position: relative;
  justify-content: center;
}
.header-container {
  display: flex;
  gap: 1rem 0;
  justify-content: space-between;
  align-items: normal;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
}
.header-nav {
  display: flex;
  gap: 1rem 90px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .header-nav {
    flex-direction: column;
    align-items: normal;
  }
}
.header-nav-logo-group {
  display: flex;
  gap: 0 1rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .header-nav-logo-group {
    justify-content: flex-start;
  }
}
.header-nav-menu {
  display: flex;
  gap: 0 24px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .header-nav-menu {
    flex-direction: column;
    align-items: normal;
  }
}
.header-search-input {
  width: 248px;
  height: 25px;
  border-radius: 50px;
  border: none;
  background-color: #3C3B3D;
}
.header-search-input::placeholder {
  font-size: 13.3px;
  line-height: 15px;
  color: #757575;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .header-search-input {
    width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-description {
  display: flex;
}
.page-description-container {
  color: #fff;
}

.hero-form {
  display: flex;
  gap: 1.5rem 30px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 570px;
  margin: 0 auto;
}
.hero-form-name, .hero-form-email {
  min-width: 270px;
  min-height: 50px;
  border-radius: 3px;
  border: 2px solid #cacaca;
  background-color: transparent;
}
.hero-form-name::placeholder, .hero-form-email::placeholder {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .hero-form-name, .hero-form-email {
    width: 100%;
  }
}

.pricing {
  display: flex;
  gap: 50px 50px;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1239px) {
  .pricing {
    justify-content: center;
  }
}
.pricing-item {
  flex-basis: 366px;
  border-radius: 1rem;
}
.pricing-item h3 {
  line-height: 36px;
}
@media screen and (max-width: 1239px) {
  .pricing-item h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
.pricing-value {
  text-transform: uppercase;
}
.pricing-value-cost {
  line-height: 1em;
}
.pricing-value-currency {
  vertical-align: top;
}

.news {
  display: flex;
  gap: 65px 0;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  flex-wrap: nowrap;
}
.news :nth-child(even) {
  flex-direction: row-reverse;
}
.news-item {
  display: flex;
  gap: 16px 50px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1024px) {
  .news-item {
    justify-content: center;
  }
}
.news-image {
  flex-basis: 575px;
  min-width: 350px;
}
.news-body {
  flex: 1 1 350px;
  max-width: 575px;
}
.news-body h3 {
  text-transform: capitalize;
}
.news-author {
  display: flex;
  gap: 16px 16px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.app {
  display: flex;
  gap: 16px 144px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1239px) {
  .app {
    flex-direction: column-reverse;
  }
}
.app-download {
  flex-basis: 600px;
}
@media screen and (max-width: 1239px) {
  .app-download {
    flex-basis: auto;
  }
}
.app-download .btn {
  border-radius: 32px;
  text-transform: capitalize;
}

.footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%);
  min-height: 387px;
}
.footer-links-container {
  display: grid;
  gap: 15px 40px;
  grid-template-columns: repeat(4, minmax(270px, 1fr));
}
@media screen and (max-width: 1239px) {
  .footer-links-container {
    grid-template-columns: repeat(2, minmax(270px, 1fr));
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .footer-links-container {
    grid-template-columns: 1fr;
  }
}
.footer hr {
  color: #E0E0E0;
}
.footer-social-container {
  display: flex;
  gap: 1rem 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-list-container {
  display: flex;
  gap: 1rem 1rem;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1239px) {
  .footer-list-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=app.css.map */
