.footer {
  h2 {
    line-height: 27px;
  }
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  
  &-links-container {
    @include container-grid(minmax(270px, 1fr), 15px, 40px);
    
    @include media($screen-large) {
      @include container-grid(minmax(270px, 1fr), 30px, 40px, 2);
    }
    
    @include media($screen-small) {
      grid-template-columns: 1fr;
    }
  }
  
  hr {
    background-color: map.get($colors, 'primary');
  }
  
  &-social-container {
    @include container-flex(1rem, 1.5rem, flex-start, flex-start);
  }
  
  &-list-container {
    @include container-flex(1rem, 1rem, flex-start);
    
    @include media($screen-large) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
