.page-description-container {
  @include media($screen-small) {
    padding-top: 250px;
  }
}
.hero-form {
  @include container-flex(1.5rem, 30px);
  max-width: 570px;
  margin: 0 auto;
  &-name,
  &-email {
    min-width: 270px;
    min-height: 50px;
    border-radius: 3px;
    border: 2px solid map.get($colors, 'primary');;
    background-color: transparent;
    &::placeholder {
      color: map.get($colors, 'white');
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
    }
    @include media($screen-small) {
      width: 100%;
    }
  }
}

