.pricing {
  @include container-flex(50px, 50px, normal);
  @include media($screen-large) {
    justify-content: center;
  }
  &-item {
    color: map.get($colors, 'white');
    flex-basis: 366px;
    border-radius: 1rem;
    h3 {
      line-height: 36px;
      @include media($screen-large) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &-value {
    text-transform: uppercase;
    &-cost {
      line-height: 1em;
    }
    &-currency {
      vertical-align: top;
    }    
  }
}