.news {
  @include container-flex(65px, 0, normal, normal, column, nowrap);
  :nth-child(even) {
    flex-direction: row-reverse;
  }
  &-item {
    @include container-flex(16px, 50px);
  }
  &-image {
    flex-basis: 575px;
    min-width: 350px;
  }
  &-body {
    flex: 1 1 350px;
    max-width: 575px;
    h3 {
      text-transform: capitalize;
    }
  }
  &-author {
    @include container-flex(16px);
  }
  &-footer {
    .btn {
      width: 135px;
      height: 53px;
    }
  }
}