.app {
  @include container-flex(16px, 144px, flex-start, start);
  @include media($screen-large) {
    flex-direction: column-reverse;
  }
  &-download {
    flex-basis: 600px;
    @include media($screen-large) {
      flex-basis: auto;
    }
    .btn {
      border-radius: 32px;
      text-transform: capitalize;
    }
  }
}