$primary: #cacaca;
$bg-primary: #08020d;
$white: #fff;
$dark-grey: #3C3B3D;
$light-grey: #757575;
$green: #34C176;
$alto: #E0E0E0;
$orange: #F89202;
$purple: #5328A1;
$brown: #95390C;
$mobile: 1239px;
